@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 4px 6px -3px gray;
    font-family: 'Roboto', sans-serif;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav-links > li{
    padding-inline: 10px;
    font-weight: bold;
}

.nav-img{
    width: 60px;
}

.main{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}